.carta-container {
  border: 1px solid black;
  margin: 1em 1em 0 0;
  border-radius: 7px;
  text-align: center;

}
.carta-container .row {
  height: 20vh;
}
.card-img {
  height: 18vh;
  width: 18vh;
}
.cat-gif {
  width: 50%;
  height: 50%;
  border-radius: 5px;
}